{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}Agendamento online{% endblock %}
{% block corpo %}
    {% if messages %}
        {% for message in messages %}
        <div class="card card-danger" style="width: 400px;">
            <div class="card-header">
                <h3 class="card-title">Atenção!</h3>
        
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ message }}
            </div>
            <!-- /.card-body -->
        </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <form action="{% url 'agendar' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="usuario" value="{{id}}">
            <input type="hidden" name="idade" value="{{idade}}">
            <div class="form-group">
                <label>
                    Data
                </label>
                    <p class="fw-light">(Atendimento apenas de Quarta à Sabado)</p>
                    <input class="form-control" type="date" name="data_exame" required>
                </div>
            </div>
            <div class="form-group">
                <label>
                    Estabelecimento
                </label>
                <select class="form-select" name="estabelecimento">
                    <option selected>Selecione o estabelecimento</option>
                    {% for estab in estabelecimento %}
                        <option value="{{estab.id}}">{{estab.no_fantasia}} - {{estab.co_cnes}}</option>
                    {% endfor %}
                </select>
            </div>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">
                Voltar
            </a>
            <input type="hidden" name="aux" value="1">
            <input type="submit" class="btn btn-dark" value="Continuar">
        </form>
    </div>
{% endblock %}