<div class="col-2">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="selecionar_hora" name="hora" value="13:00">
        <label class="form-check-label" for="selecionar_hora"><strong> 13:00 </strong></label>
    </div>
</div>
<div class="col-2">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="selecionar_hora" name="hora" value="13:12">
        <label class="form-check-label" for="selecionar_hora"><strong> 13:12 </strong></label>
    </div>
</div>
<div class="col-2">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="selecionar_hora" name="hora" value="13:24">
        <label class="form-check-label" for="selecionar_hora"><strong> 13:24 </strong></label>
    </div>
</div>
<div class="col-2">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="selecionar_hora" name="hora" value="13:36">
        <label class="form-check-label" for="selecionar_hora"><strong> 13:36 </strong></label>
    </div>
</div>
<div class="col-2">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="selecionar_hora" name="hora" value="13:48">
        <label class="form-check-label" for="selecionar_hora"><strong> 13:48 </strong></label>
    </div>
</div>